---
const btnsEtapas = [
    {
        idLi: "pageSwot",
        show: "display:block",
        link: "./tabs/swot/",
        dataBsTarget: "#pageSwot",
        ariaControls: "pageSwot",
        name: "Análise SWOT",
    },
    {
        idLi: "pageEquipe",
        show: "display:none",
        link: "./tabs/equipe/",
        dataBsTarget: "#pageEquipe",
        ariaControls: "pageEquipe",
        name: "Eq. Coml QLP",
    },
    {
        idLi: "pageTreinamentos",
        show: "display:none",
        link: "./tabs/treinamentos/",
        dataBsTarget: "#pageTreinamentos",
        ariaControls: "pageTreinamentos",
        name: "UC/Treinamentos",
    },
    {
        idLi: "pageWiz",
        show: "display:none",
        link: "./tabs/wiz/",
        dataBsTarget: "#pageWiz",
        ariaControls: "pageWiz",
        name: "Wiz.Member",
    },
    {
        idLi: "pageFunil",
        show: "display:none",
        link: "./tabs/funil/",
        dataBsTarget: "#pageFunil",
        ariaControls: "pageFunil",
        name: "Funil de Vendas",
    },
    {
        idLi: "pagePassos",
        show: "display:none",
        link: "./tabs/passos/",
        dataBsTarget: "#pagePassos",
        ariaControls: "pagePassos",
        name: "5 Passos da Venda",
    },
    {
        idLi: "pageAnalise",
        show: "display:none",
        link: "./tabs/analise/",
        dataBsTarget: "#pageAnalise",
        ariaControls: "pageAnalise",
        name: "Análise Concorrência",
    },
    {
        idLi: "pageParcerias",
        show: "display:none",
        link: "./tabs/parcerias/",
        dataBsTarget: "#pageParcerias",
        ariaControls: "pageParcerias",
        name: "Parcerias",
    },
    {
        idLi: "pageCalendarioAcoes",
        show: "display:none",
        link: "./tabs/calendario/",
        dataBsTarget: "#pageCalendarioAcoes",
        ariaControls: "pageCalendarioAcoes",
        name: "Calendário de Ações",
    },
    {
        idLi: "pageMetas",
        show: "display:none",
        link: "./tabs/metas/",
        dataBsTarget: "#pageMetas",
        ariaControls: "pageMetas",
        name: "Definição Metas",
    },
    {
        idLi: "pageRedesSocial",
        show: "display:none",
        link: "./tabs/redes/",
        dataBsTarget: "#pageRedesSocial",
        ariaControls: "pageRedesSocial",
        name: "Redes Sociais",
    },
    {
        idLi: "pageGestaoVista",
        show: "display:none",
        link: "./tabs/gestao/",
        dataBsTarget: "#pageGestaoVista",
        ariaControls: "pageGestaoVista",
        name: "Gestão a Vista",
    },
    {
        idLi: "pageControleAcao",
        show: "display:none",
        link: "./tabs/controle/",
        dataBsTarget: "#pageControleAcao",
        ariaControls: "pageControleAcao",
        name: "Controle de Ações",
    },
    {
        idLi: "pagePlanoAcaoComercial",
        show: "display:none",
        link: "./tabs/plano/",
        dataBsTarget: "#pagePlanoAcaoComercial",
        ariaControls: "pagePlanoAcaoComercial",
        name: "Plano de Ação Comercial",
    },
]
---

<section class="wrapper-sticky-tabs">
    <div class="card">
        <div class="card-body">
            <ul class="row nav nav-pills nav-pills-app" id="pills-tab" role="tablist">
                {
                    btnsEtapas.map((etapa) => (
                        <li class="nav-item col-xl-2 col-lg-3 col-md-4 col-sm-6" data-tab={etapa.idLi} role="presentation" style={etapa.show}>
                            <a
                                href={etapa.link}
                                class="nav-link"
                                data-bs-target={etapa.dataBsTarget}
                                aria-controls={etapa.ariaControls}
                                role="tab"
                                data-bs-toggle="tab"
                            >
                                {etapa.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</section>

<section class="tab-content p-0 border-0 position-relative">
    {
        btnsEtapas.map((content) => (
            <article
                role="tabpanel"
                class="tab-pane fade"
                id={content.ariaControls}
                data-content={content.idLi}
            >
            </article>
        ))
    }
</section>

<script src="./_script-tabs-rules.js"></script>
<script src="./_script-localstorage-config.js"></script>
