---
import { navLinks } from '@data/navLinks.js';
---

<div class="navbar-collapse offcanvas-collapse h-100" id="navbarApp">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {navLinks.map((item) => (
            <li class="nav-item">
                {item.isDropdown ? (
                    <div>
                        <a
                            class="nav-link dropdown-toggle dropdown-toggle-animation"
                            href={item.href}
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            {item.title}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-animation overflow-hidden border-0 py-0">
                            {item.subItems.map((subItem) => (
                                <li>
                                    <a class="dropdown-item small py-2 px-4" href={subItem.href}>
                                        {subItem.title}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </div>
                ) : (
                    <a class="nav-link active" aria-current="page" href={item.href}>
                        {item.title}
                    </a>
                )}
            </li>
        ))}
    </ul>
</div>
