---
const btnsEtapas = [
    {
        class: "nav-link active",
        id: "tab-pills-swot",
        dataBsTarget: "#pills-swot",
        ariaControls: "pills-swot",
        ariaSelected: "true",
        name: "ANÁLISE SWOT",
    },
    {
        class: "nav-link",
        id: "tab-pills-qlp",
        dataBsTarget: "#pills-qlp",
        ariaControls: "pills-qlp",
        ariaSelected: "false",
        name: "Eq. Coml QLP",
    },
    {
        class: "nav-link",
        id: "tab-pills-treinamentos",
        dataBsTarget: "#pills-treinamentos",
        ariaControls: "pills-treinamentos",
        ariaSelected: "false",
        name: "UC/Treinamentos",
    },
    {
        class: "nav-link",
        id: "tab-pills-wiz",
        dataBsTarget: "#pills-wiz",
        ariaControls: "pills-wiz",
        ariaSelected: "false",
        name: "Wiz.Member",
    },
    {
        class: "nav-link",
        id: "tab-pills-funil",
        dataBsTarget: "#pills-funil",
        ariaControls: "pills-funil",
        ariaSelected: "false",
        name: "Funil de Vendas",
    },
    {
        class: "nav-link",
        id: "tab-pills-passos",
        dataBsTarget: "#pills-passos",
        ariaControls: "pills-passos",
        ariaSelected: "false",
        name: "5 Passos da Venda",
    },
    {
        class: "nav-link",
        id: "tab-pills-analise",
        dataBsTarget: "#pills-analise",
        ariaControls: "pills-analise",
        ariaSelected: "false",
        name: "Análise Concorrência",
    },
    {
        class: "nav-link",
        id: "tab-pills-parcerias",
        dataBsTarget: "#pills-parcerias",
        ariaControls: "pills-parcerias",
        ariaSelected: "false",
        name: "Parcerias",
    },
    {
        class: "nav-link",
        id: "tab-pills-defMetas",
        dataBsTarget: "#pills-defMetas",
        ariaControls: "pills-defMetas",
        ariaSelected: "false",
        name: "Definição Metas",
    },
    {
        class: "nav-link",
        id: "tab-pills-redesSocial",
        dataBsTarget: "#pills-redesSocial",
        ariaControls: "pills-redesSocial",
        ariaSelected: "false",
        name: "Redes Socias",
    },
    {
        class: "nav-link",
        id: "tab-pills-gestaoVista",
        dataBsTarget: "#pills-gestaoVista",
        ariaControls: "pills-gestaoVista",
        ariaSelected: "false",
        name: "Gestão a Vista",
    },
    {
        class: "nav-link",
        id: "tab-pills-controleAcao",
        dataBsTarget: "#pills-controleAcao",
        ariaControls: "pills-controleAcao",
        ariaSelected: "false",
        name: "Controle de Ações",
    },
]
---

<style is:inline>
    .nav-pills-app .nav-link{
        width: 100%;
        color: #000;
        border: 1px solid var(--bs-border-color);
        background-color: #f8f8f8;
        transition: all 0.3s;
    }
    .nav-pills-app .nav-link:hover{
        color: #000;
        background-color: #efefef;
    }

    .nav-pills.nav-pills-app .nav-link.active,
    .nav-pills.nav-pills-app .show>.nav-link,
    .nav-pills.nav-pills-app .nav-link.active:hover,
    .nav-pills.nav-pills-app .show>.nav-link:hover {
        color: #fff;
        background-color: var(--color-wep-vermelho-vivo)!important;
    }
</style>

<div class="card">
    <div class="card-body">
        <ul class="row nav nav-pills nav-pills-app" id="pills-tab" role="tablist">
            {
                btnsEtapas.map((etapa) => (
                    <li class="nav-item col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-2" role="presentation">
                        <button
                            class={etapa.class}
                            type="button"
                            role="tab"
                            data-bs-toggle="pill"

                            id={etapa.id}
                            data-bs-target={etapa.dataBsTarget}
                            aria-controls={etapa.ariaControls}
                            aria-selected="true">{etapa.name}
                        </button>
                    </li>
                ))
            }
        </ul>

        <section class="tab-content" id="pills-tabContent">
            <div
                class="tab-pane fade show active"
                role="tabpanel"
                tabindex="0"

                id="pills-swot"
                aria-labelledby="tab-pills-swot"
            >
                swot
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-qlp"
                aria-labelledby="tab-pills-qlp"
            >
                qlp
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-treinamentos"
                aria-labelledby="tab-pills-treinamentos"
            >
                treinamentos
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-wiz"
                aria-labelledby="tab-pills-wiz"
            >
                wiz
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-funil"
                aria-labelledby="tab-pills-funil"
            >
                funil
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-passos"
                aria-labelledby="tab-pills-passos"
            >
                passos
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-analise"
                aria-labelledby="tab-pills-analise"
            >
                analise
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-parcerias"
                aria-labelledby="tab-pills-parcerias"
            >
                parcerias
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-defMetas"
                aria-labelledby="tab-pills-defMetas"
            >
                defMetas
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-redesSocial"
                aria-labelledby="tab-pills-redesSocial"
            >
                redesSocial
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-gestaoVista"
                aria-labelledby="tab-pills-gestaoVista"
            >
                gestaoVista
            </div>

            <div
                class="tab-pane fade"
                role="tabpanel"
                tabindex="0"

                id="pills-controleAcao"
                aria-labelledby="tab-pills-controleAcao"
            >
                controleAcao
            </div>
        </section>
    </div>
</div>
